<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- STYLING -->
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <!-- ICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <title>The Household Items Store</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a id="homeCodex" class="navbar-brand h1">CODEX</a>
            <i id="cartIcon" class="bi bi-bag-fill"></i>
        </div>
    </nav>
    <section class="main-content mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 p-3">
                    <div class="nav flex-column nav-pills rounded-2 p-2" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <h5 class="text-center p-2">Categories</h5>
                        <button class="nav-link active font-weight-bolder" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-all" type="button" role="tab">
                            <div>All</div>
                        </button>
                        <button class="nav-link font-weight-bolder" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-kitchen" type="button" role="tab">
                            <div>Kitchen</div>
                        </button>
                        <button class="nav-link font-weight-bolder" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-bathroom" type="button" role="tab">
                            <div>Bathroom</div>
                        </button>
                        <button class="nav-link font-weight-bolder" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-livingroom" type="button" role="tab">
                            <div>Living Room</div>
                        </button>
                        <button class="nav-link font-weight-bolder" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-bedroom" type="button" role="tab">
                            <div>Bedroom</div>
                        </button>
                    </div>
                </div>

                <div class="col-lg-9 p-3 menu-tab">
                    <div class="tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <h5 class="text-center">Kitchen</h5>
                            <div class="row">
                                <%  
                                    const allItems = items.filter(item => item.stock > 0);
                                    allItems.forEach(product => { 
                                %>

                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>" />
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <p>Stock: <span><%= product.stock %></span></p>
                                            <button type="button" class="btn btn-outline-light" onclick="addToCartClicked()">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                <% 
                                    const noStock= items.filter(item => item.stock === 0);
                                    noStock.forEach(product => {
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3 card-disabled">
                                        <img src="<%= product.picture %>" class="card-img-top-disabled" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <span class="badge rounded-pill text-bg-danger">Out of stock!</span>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-kitchen" role="tabpanel">
                            <h5 class="text-center">Kitchen</h5>
                            <div class="row">
                                <%  
                                    const kitchenItems = items.filter(item => item.category === "Kitchen" && item.stock > 0);
                                    kitchenItems.forEach(product => { 
                                %>

                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>" />
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <p>Stock: <span><%= product.stock %></span></p>
                                            <button type="button" class="btn btn-outline-light" onclick="addToCartClicked()">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                <% 
                                    const zeroKitchenItems = items.filter(item => item.category === "Kitchen" && item.stock === 0);
                                    zeroKitchenItems.forEach(product => {
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3 card-disabled">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <span class="badge rounded-pill text-bg-danger">Out of stock!</span>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-bathroom" role="tabpanel">
                            <h5 class="text-center">Bathroom</h5>
                            <div class="row">
                                <%  
                                    const bathroomItems = items.filter(item => item.category === "Bathroom" && item.stock > 0);
                                    bathroomItems.forEach(product => { 
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <p>Stock: <span><%= product.stock %></span></p>
                                            <button type="button" class="btn btn-outline-light" onclick="addToCartClicked()">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                <% 
                                    const zeroBathroomItems = items.filter(item => item.category === "Bathroom" && item.stock === 0);
                                    zeroBathroomItems.forEach(product => {
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3 card-disabled">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <span class="badge rounded-pill text-bg-danger">Out of stock!</span>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-livingroom" role="tabpanel">
                            <h5 class="text-center">Living Room</h5>
                            <div class="row">
                                <%  
                                    const livingRoomItems = items.filter(item => item.category === "Living Room" && item.stock > 0);
                                    livingRoomItems.forEach(product => { 
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <p>Stock: <span><%= product.stock %></span></p>
                                            <button type="button" class="btn btn-outline-light" onclick="addToCartClicked()">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                <%  
                                    const zerolivingRoomItems = items.filter(item => item.category === "Living Room" && item.stock === 0);
                                    zerolivingRoomItems.forEach(product => { 
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3 card-disabled">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <span class="badge rounded-pill text-bg-danger">Out of stock!</span>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-bedroom" role="tabpanel">
                            <h5 class="text-center">Bedroom</h5>
                            <div class="row">
                                <%  
                                    const bedroomArr = items.filter(item => item.category === "Bedroom" && item.stock > 0);
                                    bedroomArr.forEach(product => { 
                                %>
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-3">
                                        <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                        <div class="card-footer bg-primary text-light">
                                            <h3><%= product.name %></h3>
                                            <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                            <p>Stock: <span><%= product.stock %></span></p>
                                            <button type="button" class="btn btn-outline-light">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                <%  
                                    const bedroomItemsZero = items.filter(item => item.category === "Bedroom" && item.stock === 0);
                                    bedroomItemsZero.forEach(product => { 
                                %>
                                    <div class="col-lg-4 col-6">
                                        <div class="card mb-3 card-disabled">
                                            <img src="<%= product.picture %>" class="card-img-top" alt="<%= product.name %>">
                                            <div class="card-footer bg-primary text-light">
                                                <h3><%= product.name %></h3>
                                                <p>₱<span><%= product.price.toFixed(2)%></span></p>
                                                <span class="badge rounded-pill text-bg-danger">Out of stock!</span>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer bg-black text-light pb-4 mt-5">
        <hr style="background-color: #ccc;">
        <div class="container px-5">
            <div class="row py-5 g-2">
                <div class="col-lg-4 pt-2">
                    <a href="#" class="navbar-brand h1">CODEX</a>
                    <div class="text-light py-2">
                        <p>Copyright 2024</p>
                    </div>
                </div>
                <div class="col-lg-4 pt-2">
                    <h5>Customer Support</h5>
                    <p>24/7 Active</p>
                    <p>Reliable</p>
                    <p>Always Care</p>
                </div>
                <div class="col-lg-4 pt-2">
                    <h5>About</h5>
                    <p>This actually isn't a real e-commerce website</p>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="position-fixed bottom-0 start-0 p-4" style="z-index: 11">
            <div id="cartToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-primary text-light">
                    <strong class="me-auto">Added to Cart</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Your item has been added to the cart.
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a4d1366482.js" crossorigin="anonymous"></script>
</body>

</html>